# config.yaml
data:
  h5_path: "/home/jovyan/data/qg_medium_train.h5"
  batch_size: 256
  num_workers: 0

model:
  name: "vit_small_ijepa"
  patch_dim: 192
  embed_dim: 384
  depth: 12
  num_heads: 6
  predictor_embed_dim: 192
  predictor_depth: 6

train:
  base_lr: 0.00005
  epochs: 25
  warmup_epochs: 8
  ema_momentum: 0.999
  weight_decay: 0.001
  save_freq: 5
  # Paths in Drive for persistent storage
  checkpoint_dir: "/home/jovyan/shared/usiddiqui/IJEPA/checkpoints"
  log_dir: "/home/jovyan/shared/usiddiqui/IJEPA/logs"

  # Optional: Resume from a specific checkpoint
  # resume_from: "/content/drive/MyDrive/QG_IJEPA/checkpoints/20260122_0154/checkpoint_epoch_8.pth"

masking:
  grid_size: 16
  num_targets: 2
  target_scale: [0.1, 0.15]
  context_scale: [0.5, 0.6]

finetune:
  checkpoint_to_load: "/shared/usiddiqui/IJEPA/checkpoints/vit_small_ijepa_20260203_040412/best_encoder.pth"
  train_h5_path: "/home/jovyan/data/qg_medium_finetune.h5"
  test_h5_path: "/shared/usiddiqui/IJEPA/data_uncompressed/qg_medium_test.h5"
  batch_size: 64
  epochs: 5
  lr: 0.001
  freeze_encoder: True